<%javascript 'tiny_mce', 'form'%>
<script>
  tinyMCE.init({
    mode : "textareas",
    theme : "simple"
  });
</script>
<%= form_for @congress do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :title %><br />
  <%= f.text_field :title, :size => 100 %>
  </p>
  <%= f.hidden_field :user_id, :value => (@congress.user.present? ? @congress.user_id : current_user.id)%>
  <p>
  <%= f.label "image" %>
  <%= f.file_field :image %>
  </p>
  <p>
  <%= f.text_area :description, :cols => 73, :rows => 30%>
  </p>
  <p>
  <%= f.label :area %><br />
  <%= f.select(:area_id , @areas.map { |area| [area.name, area.id]} ) %>
  </p>
  <table>
    <tr>
      <td><%= f.label "Start" %></td>
      <td><%= f.label "End" %></td>
    </tr>
    <tr>
      <td><%= f.text_field :start_date, :value => @congress.start_date.to_s, :class =>'calendar', :size => 46 %></td>
      <td><%= f.text_field :end_date, :value => @congress.end_date.to_s, :class => 'calendar', :size => 47 %></td>
    </tr>
  </table>
  <p>
    <%= f.label "Where?"%><br />
    </p>
    <p>
    <% Congress::DEFAULT_ADDRESSES.each do |default|%>
      <%= radio_button "congress", "address", default , :class=>'congress_radio'%> <%= default.humanize %>
    <% end %>
    <%= radio_button "congress", "address","otro", :class => 'congress_radio'%> Otro <br />
  <div id='address'>
    <%= f.text_field :text_address, :size => 100, :value => (@congress.address unless @congress.default_address? or @congress.address=='otro') %>
  </div>
  </p>
  <p><%= f.submit %></p>
<% end %>
