<%javascript 'tiny_mce'%>
<script>
  tinyMCE.init({
    mode : "textareas",
    theme : "simple"
  });
</script>
<%= form_for @congress do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  </p>
  <p>
  <%= f.text_area :description, :cols => 100%>
  </p>
  <table>
    <tr>
      <td><%= f.label "Start" %></td>
      <td><%= f.label "End" %></td>
    </tr>
    <tr>
      <td><%= f.text_field :start_date, :value => @congress.start_date.to_s, :class =>'calendar' %></td>
      <td><%= f.text_field :end_date, :value => @congress.end_date.to_s, :class => 'calendar' %></td>
    </tr>
  </table>
  <p>
  <%= f.label "image" %>
  <%= f.file_field :image %>
  </p>
  <p><%= f.submit %></p>
<% end %>
