<%= form_for @congress do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  </p>
  <p>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
  </p>
  <p>
  <%= f.label "Start" %><br />
  <%= f.text_field :start_date, :value => @congress.start_date.to_s, :class =>'calendar' %>
  </p>
  <p>
  <%= f.label "End" %><br />
  <%= f.text_field :end_date, :value => @congress.end_date.to_s, :class => 'calendar' %>
  </p>
  <p><%= f.submit %></p>
<% end %>
