<%javascript 'tiny_mce', 'form'%>
<script>
  tinyMCE.init({
    mode : "textareas",
    theme : "simple"
  });
</script>
<%= form_for @congress do |f| %>
  <%= f.error_messages %>
  <div class="clearfix">
    <%= f.label :title, 'Título'%>
    <div class="input">
      <%= f.text_field :title, :size => 100, :class => "large" %>
      <%= f.hidden_field :user_id, :value => (@congress.user.present? ? @congress.user_id : current_user.id)%>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label "Imagen"%>
    <div class="input">
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label "Descripción"%>
    <div class="input">
      <%= f.text_area :description, :cols => 73, :rows => 30, :class => "xxlarge"%>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :area %>
    <div class="input">
      <%= f.select(:area_id , @areas.map { |area| [area.name, area.id]} ) %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label "Fechas"%>
    <div class="input">
      <div class="inline-inputs">
       <%= f.text_field :start_date, :value => @congress.start_date.to_s, :class =>'calendar span3', :size => 46 %>
       a
       <%= f.text_field :end_date, :value => @congress.end_date.to_s, :class => 'calendar span3', :size => 47 %>
      </div>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label "Lugar?"%>
    <div class="input">
      <ul class="inputs-list">
        <li> <%= radio_button "congress", "address","auditorio_luis_elizondo", :class=>'congress_radio'%> Auditorio Luis Elizondo</li>
        <li><%= radio_button "congress", "address","centro_estudiantil", :class => 'congress_radio'%> Centro estudiantil</li>
        <li><%= radio_button "congress", "address","otro", :class => 'congress_radio'%> Otro <br />
        <div id='address'>
          <%= f.text_field :text_address, :size => 100, :value => (@congress.address unless @congress.default_address? or @congress.address=='otro') %>
        </div></li>
      </ul>
    </div>
  </div>
  <div class="actions"><%= f.submit :class => "btn primary", :value => "Crear congreso" %></div>
<% end %>
