<h1><%= @congress.title%></h1>

<p>
<%= link_to "Regresar al congreso", congress_path %>
</p>

<h2><%= pluralize(@applications.size, 'Aplicaciones')%></h2>

<div>
  <% @applications.each do |application|%>
    <div class='application'>
      <%= link_to application.title, application%> | <%= application.user.email%> 
      <div class='right'>
        <% if application.rates.size.zero? %>
          Pendiente
        <% else %>
          <%= ratings_for application, :static, :small => true %>
        <% end %>
      </div>
      </div>
  <%end%>
</div>


