<% title "Congresses" %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <% for congress in @congresses %>
    <tr>
      <td><%= congress.title %></td>
      <td><%= congress.description %></td>
      <td><%= congress.start_date %></td>
      <td><%= congress.end_date %></td>
      <td><%= link_to "Show", congress %></td>
      <td><%= link_to "Edit", edit_congress_path(congress) %></td>
      <td><%= link_to "Destroy", congress, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Congress", new_congress_path %></p>
