<div id='left_sidebar'>
  <%= image_tag @congress.image_url(:medium).to_s %>	
  <div>
    <b>From</b>
    <div class='mini_time'>
      <%= @congress.start_date.strftime("%d %b %Y") %><br />
      <%= @congress.start_date.strftime("%I:%M:%P") %>
    </div>
    <b>To</b>
    <div class='mini_time'>
      <%= @congress.end_date.strftime("%d %b %Y") %>
      <%= @congress.end_date.strftime("%I:%M:%P") %>
    </div>
  </div>
</div>
<div id='main'>
<div class='right'>
  <%= link_to "Edit", edit_congress_path(@congress) %> |
  <%= link_to "Destroy", @congress, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", congresses_path %>
</div>
  <h1><%= @congress.title %></h1>
  <div id='description'>
    <%= @congress.description.html_safe %>
  </div>


</div>
