<h2>Registro</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="clearfix">
    <%= f.label :name, 'Nombre' %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :password, 'Contraseña' %>
    <div class="input">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :password_confirmation, 'Confirmar contraseña' %>
    <div class="input">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Registrarse", :class => "btn primary"%>
    <span class="help-block"><%= render :partial => "devise/shared/links" %></span>
  </div>
<% end %>

