<h1>Becas mandadas</h1>

<table cellspacing=0 cellpadding=0 class='zebra-striped'>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Email</th>
    <th></th>
  </tr>
  <tbody>

    <% @scholarships.each do |scholarship| %>
      <tr>
        <td><%= link_to scholarship.name, scholarship %></td>
        <td><%= scholarship.last_name %> <%= scholarship.middle_name %></td>
        <td><%= scholarship.email %></td>
        <td>
          <%= link_to "Editar", edit_scholarship_path(scholarship), :class => "btn success" %>
          <%= link_to "Eliminar", scholarship,:class => "btn danger", :confirm => 'Estas seguro de querer eliminarla?', :method => :delete %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
