
<div class='pull-right'>
  <%= link_to "Editar", edit_scholarship_path(@scholarship), :class => 'btn success'%>
    <%= link_to "Eliminar", @scholarship,:class => "btn danger", :confirm => 'Are you sure?', :method => :delete %>
</div>
<h1>
  <%= @scholarship.name %>
  <%= @scholarship.middle_name %>
  <%= @scholarship.last_name %>
</h1>

<p>
Email:
<%= mail_to @scholarship.email %>
</p>
<p>
Fecha de nacimiento:
<%= @scholarship.birthdate %>
</p>

<p>
Sexo:
<%= @scholarship.sex %>
</p>

<p>
Telefono:
<%= @scholarship.phone %>
</p>


<h2>
  Informacion escolar 
</h2>
<p>
Escuela:
<%= link_to @scholarship.school.name, @scholarship.school %>
</p>

<p>
Promedio:
<%= @scholarship.gpa %>
</p>

<p>
Actividades escolares:
<%= @scholarship.school_activities %>
</p>

<p>
Actividades extracurriculares 
<%= @scholarship.extracurricular_activities %>
</p>

<p>
Curriculum:
<%= @scholarship.curriculum %>
</p>

<p>
Essay:
<%= @scholarship.essay %>
</p>



<h2>Informaci贸n de Padres o Tutor</h2>
<p>
Nombre:
<%= @scholarship.name_tutor %>
</p>

<p>
Direcci贸n:
<%= @scholarship.address_tutor %>
</p>

<p>
Telefono:
<%= @scholarship.home_phone_tutor %>
</p>

<p>
Telefono oficina :
<%= @scholarship.office_phone_tutor %>
</p>

<p>
Ocupaci贸n
<%= @scholarship.occupation_tutor %>
</p>

<p>
 Sueldo Mensual
<%= @scholarship.monthly_stipend_tutor %>
</p>

<p>
 Estado civil
<%= @scholarship.home_people %>
</p>

<p>
Parents marital status:
<%= @scholarship.parents_marital_status %>
</p>

<p>
 No. de hermanos 
<%= @scholarship.siblings %>
</p>

<p>
Nombre del padre:
<%= @scholarship.father_name %>
</p>

<p>
Nombre de la madre:
<%= @scholarship.mother_name %>
</p>
<div style='margin-top:10px;'>
  <%= link_to 'Carta de recomendaci贸n', @scholarship.recomendation.url, :class => 'btn info'%>
  <%= link_to  'Carta del padre o tutor', @scholarship.letter.url, :class=>'btn info'%>
  <%= link_to 'Boleta de calificaciones', @scholarship.transcript_url, :class=>'btn info'%>
</div>


