<h2>Aplicación para <%= @application.congress.title %></h2>
<p>
<% if can? :manage, @application.congress %>
<%= link_to "Eliminar", @application, :confirm => '¿Estás seguro?', :method => :delete %> |
<%= link_to "Ver todos", applications_congress_path(@application.congress) %>
  <%= ratings_for @application,current_user %>
<% end %>
</p>
<div id='application'>
  <h2><%= @application.title %></h2>
  <%= @application.body.html_safe %>

</div>
