<table class='big_table'>
  <tr class='heading'>
    <td>Nombre</td>
    <td>Email</td>
    <td>Rol</td>
    <td></td>
  </tr>
  <% @users.each do |user| %>
    <tr class='content'>
      <td><%= user.name%></td>
      <td><%= user.email%></td>
      <td><%= user.role.humanize %></td>
      <td>
        <% if can? :manage, User%>
          <%= link_to 'Editar', edit_user_path(user), :class => 'btn success'%>
          <%= link_to "X", user, :confirm => '¿Estás seguro?', :method => :delete, :class => "btn danger" %> 
        <% end%>
      </td>
    </tr>
  <% end %>
</table>
