<tr id="schools_content">  
  <td><%= school.id %></td>
  <td><%= link_to school.name, school_path(school) %></td>
  <td><%= school.contact %></td>
  <td><%= number_to_phone(school.phone, :area_code => true) %></td>
  <td>
    <%= link_to "Edit", edit_school_path(school) %>
    <%= link_to "Destroy", school, :confirm => 'Are you sure?', :method => :delete %>
  </td>
</tr>
