<% title "School" %>

<p>
  <strong>Nombre:</strong>
  <%= @school.name %>
</p>
<p>
  <strong>Contacto:</strong>
  <%= @school.contact %>
</p>
<p>
  <strong>Teléfono:</strong>
  <%= @school.phone %>
</p>

<p>
  <%= link_to "Editar", edit_school_path(@school) %> |
  <%= link_to "Eliminar", @school, :confirm => '¿Estás seguro?', :method => :delete %> |
  <%= link_to "Ver todas", schools_path %>
</p>
