<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Tu futuro universitario" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id='top_menu'>
        <ul>
          <li><%= link_to 'Home', congresses_path%></li>
          <li><%= link_to 'Areas', areas_path%></li>
          <li><%= link_to 'Schools', schools_path%></li>
          <li><%= link_to 'New Congress', new_congress_path%></li>
        </ul>
        <div class='clear'></div>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
