<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Tu futuro universitario" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id='session_menu'>
        <% if current_user %>
          <ul>
            <li><%= link_to 'Profile', destroy_user_session_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete%></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to 'Register', new_user_registration_path%></li>
            <li><%= link_to 'Sign in', new_user_session_path%></li>
          </ul>
        <% end %>
      </div>
      <div id='top_menu'>
        <ul>
          <li><%= link_to 'Home', congresses_path%></li>
          <li><%= link_to 'Areas', areas_path%></li>
          <% if can? :create, Congress%>
            <li><%= link_to 'New Congress', new_congress_path%></li>
          <%end%>
          <% if can? :manage, User%>
            <li><%= link_to 'Manage Users', users_path%></li>
          <%end%>
        </ul>
        <div class='clear'></div>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>

